
.dining {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3%;
}

.dine, .dine-1 {
    width: 45%;
    padding: 2%;
}

.dine img {
    width: 100%;
    height: auto;
}

.dine-1 h1 {
    letter-spacing: 3px;
}

.dine-1 p {
    margin-top: 3%;
    line-height: 2.0;
    word-spacing: 5px;
}
section-1 {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
}

.full-width {
    width: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}
.cores {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 2%;
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 2%;
}

.mission, .vision, .values {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 35vh;
    margin-left: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: #0000001e;
    box-shadow: 0 0 10px #111111;
}

.mission {
    margin-left: 0;
}

h3 {
    color: blue;
    margin-bottom: 2%;
}

hr {
    width: 15%;
    margin: 1% 0 3% 0;
    border: 2px solid red;
}

.section-content {
    display: flex;
    align-items: start;
    padding: 2%;
    flex-flow: row;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: whitesmoke;
}

.section-2, .section-1 {
    border: 2px solid blue;
    padding: 2%;
}

.section-2 {
    margin-left: 2%;

}



























